.about{
    padding: 10px;
}

.title{
    font-size: 5em;
    text-align: center;
}

p {
    text-align: left;
}

.aboutImage {
    width: 100%;
}

.aboutLogo {
    width: 40%;
}

.videoLink > a {
    font-size: large;
    color: #157fea;
}